@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic|Open+Sans:400,800);

body {
	margin: 0;
	padding: 1.0rem 2.0rem 1.0rem 2.0rem;
	font-size: 16pt;
	color: rgb(10, 29, 45);
    font-family: 'Open Sans', sans-serif;
	padding: 0;
}

h1 {
	margin: 0;
	font-size: 1.75rem;
	font-weight: normal;
    border-bottom: 2px solid rgb(50, 157, 202);
    font-family: 'Gentium Book Basic', serif;
	padding: 0.1em 0em 0.1em 0em;
	position: fixed;
	width: 100%;
	color: white;
	background-color: rgb(10, 29, 45);
}

h2 {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 64px;
	font-weight: 800;
	font-style: normal;
	padding-bottom: 0.15em;
	padding-top: 2.75rem;
	border-bottom: 0px solid black;
	color: white;
    background-color: rgb(93, 48, 171);
}

h2 strong {
    display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 64px;
	font-weight: 800;
	font-style: normal;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem;
	padding-right: 2rem;
}

h2 strong em {
    font-family: 'Gentium Book Basic', serif;
	font-size: 72px;
	font-weight: normal;
	font-style: italic;
}

h3,
h4 {
    padding-top: 1rem;
	padding-bottom: 1rem;
    font-family: 'Gentium Book Basic', serif;
	font-size: 40px;
	font-weight: normal;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
	color: white;
}

h3 {
	background-color: rgb(50, 157, 202);
}

h4 {
	background-color: rgb(148, 48, 179);
}

h3 em,
h4 em {
    display: block;
	font-style: italic;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem;
	padding-right: 2rem;	
}

h3 em  strong,
h4 em strong {
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	font-weight: 800;
	font-style: normal;
}

h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	margin-top: 1rem;
	margin-bottom: 1rem;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem;
	padding-right: 2rem;
}

p {
	column-count: 2;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-gap: 3em;
	-webkit-column-gap: 3em;
	-moz-column-gap: 3em;
	column-rule-style: solid;
	-webkit-column-rule-style: solid;
	-moz-column-rule-style: solid;
	column-rule-width: 2px;
	-webkit-column-rule-width: 2px;
	-moz-column-rule-width: 2px;
	column-rule-color: #dedede;
	-webkit-column-rule-color: #dedede;
	-moz-column-rule-color: #dedede;
    max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

table p {
	column-count: 1;
	-webkit-column-count: 1;
	-moz-column-count: 1;
	margin: 0;
	padding: 1em;
}

div {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem;
	padding-right: 2rem;
}

code, pre {
  font-family: Monaco, 'Bitstream Vera Sans Mono', 'Lucida Console', 'Droid Sans Mono', Terminal, 'Lucida Grande', monospace;  
  font-size: 0.9em;
  padding:2px 3px;
  color:#d14;
  background-color:#f7f7f9;
  border:1px solid #e1e1e8;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}

table,
table.pre {
	width: 100%;
	max-width: 1200px;
	margin: 1.75rem auto 1.75rem auto;
}

th {
    background-color: rgb(93, 48, 171);
	color: white;
}

td:nth-child(even) {
	background-color: rgb(204, 223, 80);
	color: rgb(10, 29, 45);
}

td:nth-child(odd) {
	background-color: rgb(235, 189, 49);
	color: rgb(10, 29, 45);
}

td:nth-child(1) {
	background-color: skyblue;
	color: rgb(10, 29, 45);
}

ul {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10rem;
	padding-right: 2rem;
}

blockquote {
    font-family: 'Gentium Book Basic', serif;
	font-weight: normal;
	font-style: italic;
}

footer {
    padding-top: 0.25rem;
	padding-bottom: 0.25rem;
    font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	font-weight: normal;
	margin: 0;
	margin-top: 1rem;
	color: white;
	background-color: rgb(10, 29, 45);
    border-top: 2px solid rgb(50, 157, 202);
}

a {
	color: rgb(50, 157, 202);
}

a:visited {
	color: rgb(148, 48, 179);
}

.definitionTerm  {
	font-family: 'Times New Roman', 'times new roman', Times, serif;
	font-size: 2.5rem;
	font-weight: 800;
	padding-bottom: 0.4rem;
}

.definitionNumber {
	font-size: 1.0rem;
	font-family: 'Times New Roman', 'times new roman', Times, serif;
	font-weight: 800;
}

.definition {
	font-size: 1.0rem;
	font-weight: 400;
	padding-left: 5rem;
	padding-bottom: 0.5rem;
}

.tab {
	text-indent: 4rem;
}

.violet {
	background-color: rgb(148, 48, 179);
}

.blueViolet {
    background-color: rgb(93, 48, 171);
}

.blueGreen {
	background-color: rgb(50, 157, 202);
}

.yellowGreen {
	background-color: rgb(204, 223, 80);
}

.yellowOrange {
	background-color: rgb(235, 189, 49);
}

.white {
	color: white;
}

.headingBlue {
	background-color: rgb(10, 29, 45);
}
