@using System.Linq
@helper PostDate(DateTime rawDate) {
    <time datetime="@rawDate.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss")" pubdate data-updated="true">@rawDate.ToString("MMM d, yyyy")</time>
}

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>@Title</title>
  	<link rel="stylesheet" type="text/css" media="screen" href="/fsharp.formatting/tooltips.css" />
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <link rel="shortcut icon" href="/favicon.png">
  	<script type="text/javascript" src="/fsharp.formatting/tooltips.js"></script>
  </head>
  <body>
	<h1>
		<div>
			Pro<i>g</i>letariat
		</div>
	</h1>
	@RenderBody()
	<footer>
	    <div>
			Text: &copy; Andy Hutchinson 2015
		</div>
    </footer>
    <script src="/javascripts/scale.fix.js"></script>
  </body>
</html>
